@{
    ViewData["Title"] = "Home Testing";
}

<div style="padding: 30px;"></div>
<div class="align-content-center">
    <h2>Вход</h2>
</div>
<div class="align-content-center">
    <form>
        
    </form>
</div>

<style>
    .card {
        background-color: darkolivegreen;
    }
</style>