@model Automarket.Domain.Entity.User
@{
ViewData["Title"] = "Регистрация";
}
<div style="padding: 30px;"></div>
<div align="center">
    <h2>Регистрация</h2>
</div>
<p/>
<div align="center">
    <form method="post" action="Registration">
        <div>
            <div>
                <input placeholder="Имя" name="name" type="text" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <input placeholder="Фамилия" name="surname" type="text" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <input placeholder="Номер телефона" name="phonenumber" type="text" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <input placeholder="Почта" name="email" type="text" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <input placeholder="Пароль" name="password" type="password" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <input placeholder="Повторите пароль" name="repaitpass" type="password" aria-required="true" aria-invalid="false"/>
            </div>
            <p/>
            <div>
                <button type="submit">
                    <span>Зарегистрироваться</span>
                </button>
            </div>
        </div>
    </form>
</div>

<style>
    .card {
        background-color: darkolivegreen;
    }
</style>