@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<div style="padding: 30px;"></div>
<div>
<div>
    <div>
        <img src="https://www.bmw.ru/content/dam/bmw/marketRU/bmw_ru/all-models/5-series/sedan/2020/Di22_THE5_ForSite_(1680%D1%85756)_QR_P_1.jpg/jcr:content/renditions/cq5dam.resized.img.1680.large.time1599573981678.jpg" class="card-img card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title text-center text-black">BMW 5</h5>
            <p class="card-text text-black">BMW 5 серии воплощает собой современный седан бизнес-класса.</p>
        </div>
        <div class="card-footer">
            <nav class="nav nav-pills flex-column flex-sm-row">
                <a class="flex-sm-fill text-sm-center nav-link text-center" @*asp-controller="Login" asp-action="Register"*@>Создать юзера</a>
            </nav>
        </div>
    </div>
</div>
</div>